<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastelandia</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header class="header">
        <a href="#!"> <img src="/img/Pastelandia.png" class="header_logo" alt="Pastelandia">
        </a>

        <span class="administrador">Administrador - Juan</span>

        <button class="header_boton" id="btnMenu">
            <i class="fa-solid fa-bars boton_barras"></i>
        </button>

        <nav class="header_nav active">
            <ul class="nav">
                <li><a href="/templates/admin-inicio.html">Inicio</a></li>
                <li><a href="/templates/admin/admin-pedidos.html">Pedidos</a></li>
                <li><a href="/index.html">Inicio - Cliente</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="main_section">
            <h1 class="section_titulo-r">Cantidad de sabores</h1>
            <div class="section_contenedor">
                <table class="table_responsiva">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Disponible</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Canela</td>
                            <td>35/70</td>
                        </tr>
                        <tr>
                            <td>Fresas</td>
                            <td>16/70</td>
                        </tr>
                        <tr>
                            <td>Sandía</td>
                            <td>46/70</td>
                        </tr>
                        <tr>
                            <td>Mango</td>
                            <td>18/70</td>
                        </tr>
                        <tr>
                            <td>Plátano</td>
                            <td>37/70</td>
                        </tr>
                        <tr>
                            <td>Limón</td>
                            <td>05/70</td>
                        </tr>
                        <tr>
                            <td>Pera</td>
                            <td>70/70</td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </section>

        <section class="main_section">
            <h1 class="section_titulo-r">Cantidad de decoraciones</h1>
            <div class="section_contenedor">
                <table class="table_responsiva">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Disponible</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Florales</td>
                            <td>35/70</td>
                        </tr>
                        <tr>
                            <td>Drip cakes</td>
                            <td>16/70</td>
                        </tr>
                        <tr>
                            <td>Granache</td>
                            <td>46/70</td>
                        </tr>
                        <tr>
                            <td>Praliné</td>
                            <td>18/70</td>
                        </tr>
                        <tr>
                            <td>Fondant</td>
                            <td>37/70</td>
                        </tr>
                        <tr>
                            <td>Betunes</td>
                            <td>05/70</td>
                        </tr>
                        <tr>
                            <td>Glaseado</td>
                            <td>70/70</td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </section>
    </main>

    <script src="/js/menu.js"></script>
</body>

</html>