<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastelandia</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header class="header">
        <a href="#!"> <img src="/img/Pastelandia.png" class="header_logo" alt="Pastelandia">
        </a>

        <button class="header_boton" id="btnMenu">
            <i class="fa-solid fa-bars boton_barras"></i>
        </button>

        <nav class="header_nav active">
            <ul class="nav">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/sabores-y-decoraciones.html">Sabores y decoraciones</a></li>
                <li><a href="/templates/pedir-pastel.html">Pedir pastel</a></li>
                <li><a href="/templates/nosotros.html">Nosotros</a></li>
                <li><a href="/templates/admin-inicio.html">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="main_section">
            <h1 class="section_titulo-r">Nosotros</h1>

            <p class="section_parrafo">
                <span class="section_direccion">Dirección: </span>Eje Central Lázaro Cárdenas 2, Centro Histórico de la
                Cdad. de México, Centro, Cuauhtémoc, 06000 Ciudad de México, CDMX
            </p>

            <p class="section_parrafo">
                <span class="section_direccion">Teléfono: </span>+52 55 1234 5678
            </p>

            <br>

            <div class="section_contenedor">
                <table class="table_responsiva">
                    <thead>
                        <tr>
                            <th>Días</th>
                            <th>Horarios de atención:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lunes</td>
                            <td>6:00 a.m - 05 p.m</td>
                        </tr>
                        <tr>
                            <td>Martes</td>
                            <td>7:00 a.m - 05 p.m</td>
                        </tr>
                        <tr>
                            <td>Miércoles</td>
                            <td>7:00 a.m - 05 p.m</td>
                        </tr>
                        <tr>
                            <td>Jueves</td>
                            <td>9:00 a.m - 05 p.m</td>
                        </tr>
                        <tr>
                            <td>Viernes</td>
                            <td>7:00 a.m - 05 p.m</td>
                        </tr>
                        <tr>
                            <td>Sábado</td>
                            <td>7:00 a.m - 05 p.m</td>
                        </tr>
                        <tr>
                            <td>Domingo</td>
                            <td>8:00 a.m - 05 p.m</td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </section>

    </main>

    <script src="/js/menu.js"></script>
</body>

</html>