<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastelandia</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header class="header">
        <a href="#!"> <img src="/img/Pastelandia.png" class="header_logo" alt="Pastelandia">
        </a>

        <button class="header_boton" id="btnMenu">
            <i class="fa-solid fa-bars boton_barras"></i>
        </button>

        <nav class="header_nav active">
            <ul class="nav">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/sabores-y-decoraciones.html">Sabores y decoraciones</a></li>
                <li><a href="/templates/pedir-pastel.html">Pedir pastel</a></li>
                <li><a href="/templates/nosotros.html">Nosotros</a></li>
                <li><a href="/templates/admin-inicio.html">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="main_section">
            <h1 class="section_titulo-r">Sabores</h1>

            <div class="section_cards cards--modificadas">
                <div class="card_rectangular">
                    <div class="rectangular_img">
                        <img src="/img/sabor canela.jpg" alt="Sabor canela">
                    </div>

                    <div class="card_contenido">
                        <p>
                            <strong>Producto: </strong>Canela <br>
                            <strong>Descripción: </strong>Se caracteriza por poseer forma de ramas secas con un sabor
                            intenso entre dulce y amargo. <br>
                            <strong>Precio: </strong>$1,643 MXN
                        </p>
                    </div>
                </div>

                <div class="card_rectangular">
                    <div class="rectangular_img">
                        <img src="/img/sabor canela.jpg" alt="Sabor canela">
                    </div>

                    <div class="card_contenido">
                        <p>
                            <strong>Producto: </strong>Canela <br>
                            <strong>Descripción: </strong>Se caracteriza por poseer forma de ramas secas con un sabor
                            intenso entre dulce y amargo. <br>
                            <strong>Precio: </strong>$1,643 MXN
                        </p>
                    </div>
                </div>

                <div class="card_rectangular">
                    <div class="rectangular_img">
                        <img src="/img/sabor canela.jpg" alt="Sabor canela">
                    </div>

                    <div class="card_contenido">
                        <p>
                            <strong>Producto: </strong>Canela <br>
                            <strong>Descripción: </strong>Se caracteriza por poseer forma de ramas secas con un sabor
                            intenso entre dulce y amargo. <br>
                            <strong>Precio: </strong>$1,643 MXN
                        </p>
                    </div>
                </div>
            </div>

            <h1 class="section_titulo-v">Decoraciones</h1>
            <div class="section_cards cards--modificadas">
                <div class="card_rectangular-v">
                    <div class="rectangular_img">
                        <img src="/img/sabor canela.jpg" alt="Sabor canela">
                    </div>

                    <div class="card_contenido">
                        <p>
                            <strong>Producto: </strong>Canela <br>
                            <strong>Descripción: </strong>Se caracteriza por poseer forma de ramas secas con un sabor
                            intenso entre dulce y amargo. <br>
                            <strong>Precio: </strong>$1,643 MXN
                        </p>
                    </div>
                </div>

                <div class="card_rectangular-v">
                    <div class="rectangular_img">
                        <img src="/img/sabor canela.jpg" alt="Sabor canela">
                    </div>

                    <div class="card_contenido">
                        <p>
                            <strong>Producto: </strong>Canela <br>
                            <strong>Descripción: </strong>Se caracteriza por poseer forma de ramas secas con un sabor
                            intenso entre dulce y amargo. <br>
                            <strong>Precio: </strong>$1,643 MXN
                        </p>
                    </div>
                </div>

                <div class="card_rectangular-v">
                    <div class="rectangular_img">
                        <img src="/img/sabor canela.jpg" alt="Sabor canela">
                    </div>

                    <div class="card_contenido">
                        <p>
                            <strong>Producto: </strong>Canela <br>
                            <strong>Descripción: </strong>Se caracteriza por poseer forma de ramas secas con un sabor
                            intenso entre dulce y amargo. <br>
                            <strong>Precio: </strong>$1,643 MXN
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <a href="/templates/pedir-pastel.html" class="btn_pedido">Crear pastel <i class="fa-solid fa-circle-plus"></i></a>

    <script src="/js/menu.js"></script>
</body>

</html>